.top-menu-lead {
  color: #1890ff;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
}

.top-menu {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  border-bottom: 1px solid #1890ff;
}
.top-menu > * {
  width: 33%;
}
.right {
  text-align: right;
}
.right > a {
  padding: 0 10px;
}

.top-menu *:hover {
  cursor: pointer;
}

.top-menu-icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .top-menu {
    overflow: hidden;
  }

  .top-menu > .left,
  .top-menu > .right > a {
    display: none;
  }
  .top-menu-icon {
    display: block;
  }
  .top-menu-lead,
  .top-menu-icon {
    width: 40%;
  }
  .top-menu-icon {
    position: absolute;
    top: 20px;
    right: -50px;
  }
  .top-menu.toggled {
    display: block;
  }

  .top-menu.toggled > * {
    width: 100%;
    padding: 10px 0;
  }

  .top-menu.toggled *:not(.top-menu-lead):not(.top-menu-icon):not(input) {
    display: block !important;
    text-align: left;
    margin: 0;
  }
}
