.top-menu-lead {
  color: #1890ff;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
}
.search {
  width: 90%;
}
.top-menu {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  border-bottom: 1px solid #1890ff;
}
.top-menu > * {
  width: 33%;
}
.right {
  text-align: right;
}
.right > a {
  padding: 0 10px;
}

.top-menu *:hover {
  cursor: pointer;
}

.top-menu-icon {
  display: none;
  font-size: 1.2rem;
}

@media screen and (max-width: 600px) {
  .top-menu {
    padding: 5px 5px;
    justify-content: space-between;
  }
  .top-menu-icon {
    display: inline-block;
    text-align: right;
    padding-right: 30px;
  }

  .top-menu > .left,
  .top-menu > .right {
    display: none;
  }
  .top-menu-lead,
  .top-menu-icon {
    width: 50%;
  }

  .top-menu.toggled {
    display: block;
  }

  .top-menu.toggled > * {
    width: 100%;
    padding: 10px 5px;
  }
  .top-menu.toggled > .top-menu-icon {
    position: absolute;
    top: 5px;
    right: -240px;
  }

  .top-menu.toggled *:not(.top-menu-lead):not(.top-menu-icon):not(input) {
    display: block !important;
    text-align: left;
    margin: 0;
  }
}
