@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
.body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.container {
  width: 50%;
  margin: 0 auto;
}
@media screen and (max-width: 600px) {
  .ant-steps-item-description {
    display: none;
  }
}
