@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");

.root {
  font-family: "Roboto", sans-serif;
  margin: 0;
}
/* Home */
.cover {
  width: 100%;
  height: 400px;
  background-image: url("/cdmx.jpg");
  padding: 100px 0;
  background-size: cover;
  background-position: center;
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  font-family: "Avenir";
}
.center {
  text-align: center;
}
.cover h2,
.cover p {
  color: #fff;
}
.job-container {
  display: flex;
  flex-wrap: wrap;
}

.job-card {
  width: 33%;
  box-sizing: border-box;
  padding: 10px;
}
.job-card img {
  width: 100%;
}
.container {
  width: 80%;
  padding: 20px 0;
  margin: 0 auto;
}
.shortlink-container {
  margin: 5px;
}
.shortlinks {
  padding: 0 5px;
}
/* Form */
.form-container {
  background-color: #fff;
  border: 1px solid #1890ff;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 10px 0;
}
.form-container img {
  width: 40%;
}
.form-container input {
  margin: 0 10px;
}
button,
.btn {
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.5s ease;
  margin: 10px;
}
.btn:active {
  transform: translateY(4px);
}
.btn-positive {
  background-color: #65b5ff;
  border: 1px solid #1890ff;
  font-weight: bold;
}
.btn-positive:hover {
  background-color: #1890ff;
}
.btn-negative {
  background-color: #fff;
  border: 1px solid #666;
}
.btn-negative:hover {
  background-color: #ccc;
}
.form-progress {
  padding: 20px 0;
}
.loading {
  padding: 10px;
  font-size: 1rem;
  background-color: #1890ff;
  color: #fff;
  border-radius: 5px;
}

/* Mapbox */
.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Avenir";
}

.mapboxgl-popup-close-button {
  display: none;
}

/* Media queries */
@media screen and (max-width: 600px) {
  .ant-steps-item-description {
    display: none;
  }
  .form-container img {
    width: 100%;
  }
  .job-card {
    width: 50%;
  }
}
